<div class="row">
  <div class="col-md-6">
    <h3>職務経歴書編集画面</h3>
  </div>
</div>
<div *ngIf="loggedUser$ | async; let user">
  <div class="row">
    <div class="col-md-3">
      <span>社員番号: </span><span>{{user.shainId}}</span>
    </div>
    <div class="col-md-3">
      <span>氏名: </span><span>{{user.shainName}}</span>
    </div>
    <div class="col-md-3">
      <span>フリガナ: </span><span>{{user.shainKana}}</span>
    </div>
  </div>
</div>
<br />
<form [formGroup]="cvForm">
  <div class="row">
    <div class="col-md-8">
      <span>顧客名</span>
      <input type="text" class="form-control form-control" formControlName="customer">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <span>業種</span>
      <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
      <span>業務区分</span>
      <input type="text" class="form-control">
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <span>対象業務</span>
      <input type="text" class="form-control">
    </div>
  </div>

  <ng-container *ngIf="data$ | async; let data">
    <div class="row">
      <div class="col-md-4">
        <span>開発機種／メーカー</span>
        <ng-select [items]="data.MAKER" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
          placeholder="何々を選択して下さい。" [(ngModel)]="selectedMakers">
        </ng-select>
      </div>
      <div class="col-md-4">
        <span>OS</span>
        <ng-select [items]="data.OS" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
          placeholder="何々を選択して下さい。" [(ngModel)]="selectedOs">
        </ng-select>
      </div>
      <div class="col-md-4">
        <span>DBMS</span>
        <ng-select [items]="data.DBMS" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
          placeholder="何々を選択して下さい。" [(ngModel)]="selectedDbms">
        </ng-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <span>言語</span>
        <ng-select [items]="data.LANG" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
          placeholder="何々を選択して下さい。" [(ngModel)]="selectedLang">
        </ng-select>
      </div>
      <div class="col-md-4">
        <span>ツール</span>
        <ng-select [items]="data.TOOLS" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
          bindValue="tid" placeholder="何々を選択して下さい。" [(ngModel)]="selectedTools">
        </ng-select>
      </div>
      <div class="col-md-4">
        <span>担当作業</span>
        <ng-select [items]="data.DUTY" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
          placeholder="何々を選択して下さい。" [(ngModel)]="selectedResponse">
        </ng-select>
      </div>
    </div>
    {{cvForm.value | json}}
  </ng-container>

</form>