<div class="container">
<div class="row">
  <div class="col-md-6">
    <h3>{{title}}</h3>
  </div>
</div>
<div *ngIf="loggedUser$ | async; let user">
  <div class="row">
    <div class="col-md-3">
      <span>社員番号: </span><span>{{user.shainId}}</span>
    </div>
    <div class="col-md-3">
      <span>氏名: </span><span>{{user.shainName}}</span>
    </div>
    <div class="col-md-3">
      <span>フリガナ: </span><span>{{user.shainKana}}</span>
    </div>
  </div>
</div>
<br />
<form [formGroup]="cvForm">
  <div class="row">
    <div class="col-md-8">
      <span>顧客名</span>
      <input type="text" class="form-control form-control" [ngClass]="{ 'is-invalid': submitted && f.customer.errors }" formControlName="customer">
    </div>
  </div>
  <ng-container *ngIf="industryDropdown$ | async; let industry">
    <div class="row">
      <div class="col-md-4">
        <span>業種</span>
        <select (change)="changeChilds($event.target.value)" [ngClass]="{ 'is-invalid': submitted && f.industryType.errors }" class="custom-select" formControlName="industryType">
          <option value="999999" disabled>業種を選んで下さい</option>
          <option *ngFor="let i of industry" value="{{i.id}}">{{i.tdesc}}</option>
        </select>
      </div>
      <div class="col-md-4">
        <span>業務区分</span>
        <select class="custom-select" *ngIf="typeSelected$ | async" [ngClass]="{ 'is-invalid': submitted && f.industryClass.errors }" formControlName="industryClass">
          <option *ngFor="let icss of industry[type].industryClass" value="{{icss.classId}}">{{icss.desc}}</option>
        </select>
        <input type="text" class="form-control" *ngIf="!(typeSelected$ | async)" value="業種を選んで下さい" readonly>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="data$ | async; let data">
    <div class="row">
      <div class="col-md-8">
        <span>対象業務</span>
        <input type="text" class="form-control" formControlName="targetbusiness" [ngClass]="{ 'is-invalid': submitted && f.targetbusiness.errors }">
      </div>
      <div class="col-md-4">
        <span>役割</span>
        <select class="custom-select" formControlName="assignData" [ngClass]="{ 'is-invalid': submitted && f.assignData.errors }">
          <option *ngFor="let role of data.ASSIGN" value="{{role.id}}">{{role.desc}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <span>開発機種／メーカー</span>
        <ng-select [items]="data.MAKER" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
        placeholder="選択して下さい" formControlName="makerData">
        </ng-select>
      </div>
      <div class="col-md-4">
        <span>OS</span>
        <ng-select [items]="data.OS" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
        placeholder="選択して下さい。" formControlName="osData">
        </ng-select>
      </div>
      <div class="col-md-4">
        <span>DBMS</span>
        <ng-select [items]="data.DBMS" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
        placeholder="選択して下さい。" formControlName="dbmsData">
        </ng-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <span>言語</span>
        <ng-select [items]="data.LANG" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
        placeholder="選択して下さい。" formControlName="langData">
        </ng-select>
      </div>
      <div class="col-md-4">
        <span>ツール</span>
        <ng-select [items]="data.TOOLS" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
        placeholder="選択して下さい。" formControlName="toolsData">
        </ng-select>
      </div>
      <div class="col-md-4">
        <span>担当作業</span>
        <ng-select [items]="data.DUTY" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="desc"
        placeholder="選択して下さい。" formControlName="responseData">
        </ng-select>
      </div>
    </div>
  </ng-container>

  <div class="row">
    <div class="col-md-4">
      <span>期間</span>
      <div class="input-group">
          <input type="text"
          class="form-control"
          [bsConfig]="bsConfig"
          #dp="bsDatepicker"
          placement="top"
          formControlName="startdate"
          value = "{{f.startdate.value | date:'yyyy/MM月'}}"
          [ngClass]="{ 'is-invalid': submitted && f.startdate.errors }"
          bsDatepicker>
          <div class="input-group-prepend">
            <span class="input-group-text">~</span>
          </div>
          <input type="text"
          class="form-control"
          [bsConfig]="bsConfig"
          placement="top"
          #dp="bsDatepicker"
          formControlName="enddate"
          value = "{{f.enddate.value | date:'yyyy/MM月'}}"
          [ngClass]="{ 'is-invalid': submitted && f.enddate.errors }"
          bsDatepicker >
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-around">    
      <button type="button" class="btn btn-primary" (click)="insertAttempt()">{{button}}</button>
      <button type="button" *ngIf="authority === 'ADMIN'" class="btn btn-primary">行削除</button>
      <button type="button" class="btn btn-primary" onclick="history.back(-1)">詳細へ戻る</button>
  </div>
</form>
<pre>{{cvForm.value | json}}</pre>
</div>