<div *ngIf="loggedUser$ | async; let user">
  <div class="row">
    <div class="col-md-6">
      <h3>Profile Screen</h3>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="d-flex p-2">
    <div class="d-flex flex-column col-md-3">
      <div class="box box-danger">
        <div class="box-body">
          <div class="text-center">
            <p class="text-muted text-center">{{user.shainId}}</p>
            <img class="profile-user-img img-fluid rounded-circle" src="assets/img/no_image.png">
          </div>
          <h3 class="profile-username text-center">{{user.shainName}}</h3>
          <p class="text-muted text-center">{{user?.affiliation?.desc}}</p>
          <p class="text-muted text-center">
            <mat-icon>create</mat-icon>&nbsp;<a class="button">
              <mat-icon>exit_to_app</mat-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">プロファイル</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="d-flex align-self-center">
            <mat-icon>school</mat-icon>&nbsp;出身校
          </div>
          <p class="text-muted">
            <!--{{user?.resumes?}}-->user.resumes.resume descs
          </p>
          <hr>
          <div class="d-flex align-self-center">
            <mat-icon>location_on</mat-icon>&nbsp;住所
          </div>
          <p class="text-muted">Employee Area</p>
          <hr>
          <div class="d-flex align-self-center">
            <mat-icon>favorite</mat-icon>&nbsp;スキル
          </div>
          <p>
            <span>Employee top 5 abilities that come from rirekisho data. Sample:</span>
            <span class="badge badge-warning">UI Design</span>&nbsp;
            <span class="badge badge-success">Coding</span>&nbsp;
            <span class="badge badge-info">Javascript</span>&nbsp;
            <span class="badge badge-danger">JAVA</span>&nbsp;
            <span class="badge badge-primary">Node.js</span>&nbsp;
          </p>
          <hr>
          <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

          <p>{{user.shainNotes}}</p>
        </div>
      </div>
    </div>


    <div class="flex-fill col-md-9">
      <div class="box box-danger">
        <div class="box-header">
          <span>職務経歴書</span>
        </div>
        <div class="box-body box-profile">
          <div *ngIf="user.curriculum[0] == null" >
            <span> No CV found, click here to insert a new one</span>
          </div>
          <div *ngIf="user.curriculum[0] != null" class="d-flex">
            <table class="table table-bordered">
              <thead>
                <th style="width: 10%">顧客名</th>
                <th style="width: 10%">業種</th>
                <th style="width: 10%">対象業務</th>
                <th style="width: 10%">開発機種<br />メーカー</th>
                <th style="width: 10%">OS<br />DBMS</th>
                <th style="width: 10%">言語<br />ツール</th>
                <th style="width: 10%">担当作業役割</th>
                <th style="width: 10%">期間</th>
                <th style="width: 5%">編集</th>
              </thead>
              <tbody>
                <tr *ngFor="let cv of user.curriculum">
                  <td>{{cv.customer}}</td>
                  <td>{{cv.industry}}</td>
                  <td>{{cv.targetbusiness}}</td>                  
                  <td>
                    <ng-container *ngFor="let maker of cv.makerData">{{maker.desc}}<br/> </ng-container>
                  </td>
                  <td>
                    <ng-container *ngFor="let dbms of cv.dbmsData">{{dbms.desc}}<br/></ng-container>/
                    <ng-container *ngFor="let os of cv.osData">{{os.desc}}<br/></ng-container>
                  </td>
                  <td>
                      <ng-container *ngFor="let lang of cv.langData">{{lang.desc}}<br/></ng-container>/
                      <ng-container *ngFor="let tools of cv.toolsData">{{tools.desc}}<br/></ng-container>
                  </td>
                  <td>
                      <ng-container *ngFor="let res of cv.responseData">{{res.desc}}<br/></ng-container>
                  </td>
                  <td>
                    {{cv.startperiod | slice:0:10}} <br/>~<br/> {{cv.endperiod | slice:0:10}} <br/>
                     (何ヶ月)
                  </td>
                  <td>
                    <mat-icon>create</mat-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <a routerLink="/profile/curriculum/add" routerLinkActive="active">
          <button type=button class="btn btn-sm btn-outline-primary" style="float:right">職務経歴を追加する</button>
          </a>
        </div>          
      </div>

      <div class="box box-danger">
        <div class="box-header">
          <span>保有資格</span>
        </div>
        <div class="box-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>基本情報技術者試験</td>
              </tr>
              <tr>
                <td>応用情報技術者試験</td>
              </tr>
            </tbody>
          </table>
          <br />
          <span>経歴</span>
          <table class="table table-bordered">
            <thead>
              <th style="width: 10%">年</th>
              <th style="width: 10%">月</th>
              <th style="width: 80%">学校/職場</th>
            </thead>
            <tbody>
              <tr>
                <td>2018</td>
                <td>11</td>
                <td>日本工学院専門学校　　ITカレッジ　ITスペシャリスト科(4年制)　入学</td>
              </tr>
              <tr>
                <td>2018</td>
                <td>11</td>
                <td>日本工学院専門学校　　ITカレッジ　ITスペシャリスト科(4年制)　卒業</td>
              </tr>
            </tbody>
          </table>
          <br />
          <span>資格</span>
          <table class="table table-bordered">
            <thead>
              <th style="width: 10%">年</th>
              <th style="width: 10%">月</th>
              <th style="width: 80%">資格名</th>
            </thead>
            <tbody>
              <tr>
                <td>2018</td>
                <td>11</td>
                <td>基本情報技術者試験　合格</td>
              </tr>
              <tr>
                <td>2018</td>
                <td>11</td>
                <td>応用情報技術者試験　合格</td>
              </tr>
            </tbody>
          </table>
          <br />
          <span>表彰</span>
          <table class="table table-bordered">
            <thead>
              <th style="width: 10%">年</th>
              <th style="width: 10%">月</th>
              <th style="width: 80%">内容</th>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td>無し</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>