<div class="row">
  <div class="col-md-6">
  <h3>履歴書検索画面</h3>
  </div>
  <div class="col-md-3"></div>
</div>

<table class="table table-bordered">
<thead>
  <th>社員番号</th>
  <th>氏名</th>
  <th>採用区分</th>
  <th>出身校</th>
  <th>資格</th>
  <th>退職</th>
  <th>削除</th>
  <th></th>
</thead>
<tbody>
  <td>696969</td>
  <td>sample user</td>
  <td>sample something idk</td>
  <td>sample formation or smth</td>
  <td>
    sample qualifications<br/>
    many qualifications are possible<br/>
    what if i have 3<br/>
    or 4<br/>
    or more than 5<br/>
    :thinking:
  </td>
  <td><input type="checkbox" readonly checked></td>
  <td><input type="checkbox" readonly></td>
  <td>details</td>
</tbody>
</table>
<div class="d-flex align-content-center col-md-12">
<button type=button class="btn btn-primary">検索画面へ戻る</button>
</div>