<div class="container">
<form [formGroup]="employeeForm" (ngSubmit)="submitForm()">
  <ng-container *ngIf="params$ | async; let data">
    <div class="row">
      <div class="col-md-6">
        <h3>{{title}}</h3>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3 d-flex justify-content-end align-items-end">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="shainRetired" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">退職フラグ</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span>社員番号: </span>
        <input type="text" maxlength="6" formControlName="shainId" class="form-control" *ngIf="isEditing || isProfile" readonly>
        <input type="text" maxlength="6" formControlName="shainId" class="form-control" *ngIf="isInserting" (change)="onChange($event)">
      </div>
      <div class="col-md-3">
        <span>氏名: </span>
        <input type="text" formControlName="shainName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shainName.errors }">
      </div>
      <div class="col-md-3">
        <span>フリガナ: </span>
        <input type="text" formControlName="shainKana" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shainKana.errors }">
      </div>
      <div class="col-md-3">
        <span>採用区分: </span>
        <select class="custom-select" formControlName="shainRecruit" [ngClass]="{ 'is-invalid': submitted && f.shainRecruit.errors }">
          <option selected value="新卒">新卒</option>
          <option value="キャリア">キャリア</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span>生年月日</span>
        <div>
          <input type=date formControlName="shainBirthday" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shainBirthday.errors }"> 
        </div>
      </div>
      <div class="col-md-6">
        <span>所属</span>
        <ng-select
        [items]="data.AFFILIATION"
        [multiple]="true"
        [closeOnSelect]="true"
        [hideSelected]="true"
        bindLabel="desc"
        placeholder="..."
        formControlName="affiliation">
        </ng-select>
        <!--<select class="custom-select custom-select-sm" formControlName="id">
      <option *ngFor="let item of affiliation" value="{{item.tid}}">{{item.as}}</option>
    </select>
    -->
      </div>
      <div class="col-md-3">
        <div formGroupName="position">
          <span>役職</span>          
          <select *ngIf="isEditing || isInserting; else profile" class="custom-select" formControlName="id"  [ngClass]="{ 'is-invalid': submitted && p.id.errors}">
            <option *ngFor="let item of data.POSITION" value="{{item.id}}">{{item.desc}}</option>
          </select>
        <ng-template #profile>
          <input type="text" class="form-control" formControlName="id" hidden>
          <input type="text" class="form-control"value="{{myPosition}}" readonly>
        </ng-template>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span>扶養</span>
        <select class="custom-select" formControlName="shainSupport" [ngClass]="{ 'is-invalid': submitted && f.shainSupport.errors }">
            <option value="true">有</option>
            <option value="false">無</option>
        </select>
      </div>
    
    <div class="col-md-3">
      <span>配偶者</span>
      <select class="custom-select" formControlName="shainMarried" [ngClass]="{ 'is-invalid': submitted && f.shainMarried.errors }">
        <option value="true">有</option>
        <option value="false">無</option>
      </select>
    </div>
    
    <div class="col-md-3">
      <span>性別</span>
      <select class="custom-select" formControlName="shainSex" [ngClass]="{ 'is-invalid': submitted && f.shainSex.errors }">
        <option *ngFor="let type of sex" value="{{type}}">{{type}}</option>
      </select>
    </div>
    
    <div class="col-md-3">
      <span>血液型</span>
      <select class="custom-select" formControlName="shainBloodType" [ngClass]="{ 'is-invalid': submitted && f.shainBloodType.errors }">
        <option *ngFor="let type of bloodType" value="{{type}}">{{type}}</option>
      </select>
    </div>
    </div>    
    <div class="row">
      <div class="col-md-3">
        <span>電話番号(自宅)</span>
        <input type="tel" class="form-control" formControlName="shainHomePhoneNumber">
      </div>
      <div class="col-md-3">
        <span>電話番号(携帯)</span>
        <input type="tel" class="form-control" formControlName="shainMobilePhoneNumber">
      </div>
      <div class="col-md-3">
        <span>メールアドレス</span>
        <input type="text" class="form-control" formControlName="shainMail">
      </div>
      <div class="col-md-3">
        <span>携帯メールアドレス</span>
        <input type="text" class="form-control no-ime" formControlName="shainMobileMail">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span>郵便番号</span>
        <input type="tel" class="form-control" formControlName="shainPostalCode">
      </div>
      <div class="col-md-2">
        <span>勤務可能地域</span>
        <div formGroupName="shainArea">
          <select class="custom-select" formControlName="id" [ngClass]="{ 'is-invalid': submitted && a.id.errors }">
            <option *ngFor="let cities of data.AREA" value="{{cities.id}}">{{cities.desc}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-7">
        <span>住所</span>
        <input type="text" class="form-control " formControlName="shainAddress">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span>車種</span>
        <div formGroupName="shainCarModel">
          <select class="custom-select" formControlName="id" [ngClass]="{ 'is-invalid': submitted && car.id.errors }">
            <option *ngFor="let cars of data.CARMODEL" value="{{cars.id}}">{{cars.tdesc}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <span>入社日</span>
        <input type="date" class="form-control " formControlName="shainJoinedDate" [ngClass]="{ 'is-invalid': submitted && f.shainJoinedDate.errors }">
      </div>
      <div class="col-md-3">
        <span>退社日</span>
        <input type="date" class="form-control " formControlName="shainRetiredDate">
      </div>
      <div class="col-md-3">
        <span>パスワード</span>
        <div class="input-group" *ngIf="passwordbutton">
          <input type="password" class="form-control" id="pwd" aria-describedby="button-addon2" formControlName="shainPassword" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-danger" type="button" id="button-addon2" (click)="changePassword()">チェンジ</button>
          </div>
        </div>

        <div class="input-group" *ngIf="!passwordbutton">
          <input [type]="show ? 'text' : 'password'" class="form-control" id="pwd" aria-describedby="button-addon2" formControlName="shainPassword">
          <div class="input-group-append">
            <button class="btn btn-outline-danger" type="button" id="button-addon2" (click)="showPassword()">見る</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="col-md-12">
        <label for="exampleFormControlTextarea1">備考文</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="shainNotes"></textarea>
      </div>
    </div>
    <div class="row d-flex p-2 justify-content-around">
        <button type="submit" class="btn btn-primary">{{buttonLabel}}</button>
        <button *ngIf="isInserting" type="button" class="btn btn-primary" (click)="resetForms()">クリア</button>
        <button *ngIf="isEditing" type="button" class="btn btn-primary" (click)="returnToSearch()">キャンセル</button>
    </div>
    <div class="row dflex justify-content-around" *ngIf="displayInsertButtons">
        <button type="button" class="btn btn-success" (click)="redirect('rirekisho')" >履歴書を登録する</button>
        <button type="button" class="btn btn-success" (click)="redirect('shokumurirekisho')" >職務経歴書を登録する</button>
        <button type="button" class="btn btn-success" (click)="redirect('kyouiku')" disabled>教育履歴を登録する</button>
        <button type="button" class="btn btn-success" (click)="redirect('shikaku')" disabled>資格情報を登録する</button>
    </div>
  </ng-container>
</form>
</div>

