<div class="container-fluid">
    <ng-container *ngIf="user$ | async; let user">
    <div class="row">
      <div class="col-md-4">
        <h3>教育受講履歴一覧画面</h3>
      </div>
    </div>
    <div class="row" *ngIf="user.shainRetired">
        <div class="alert alert-danger d-flex justify-content-center" role="alert">
            退職
        </div>
    </div>
    <div class="row">      
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>主催</th>
              <th>教育名</th>
              <th>受講者</th>
              <th>期間</th>
              <th>費用</th>              
              <th></th>
            </tr>
          </thead>
          <tbody>            
            <tr *ngFor="let sc of user.educations | paginate: { itemsPerPage: ipp, currentPage: p }; let i = index">
              <ng-container *ngIf="sc.active">
              <td>{{ipp * (p - 1) + i + 1}}</td>
              <td>{{sc.sponsor}}</td>
              <td>{{sc.educationName}}</td>
              <td>{{user.shainName}}</td>
              <td>{{sc.startPeriod}}~<br/>{{sc.endPeriod}}</td>
              <td>{{sc.totalExpenses | currency:'JPY'}}</td>
              <td><button class="btn btn-primary" (click)="edit(user.shainId,sc.id)">詳細</button></td>
            </ng-container>
          </tr>        
          </tbody>
        </table>      
    </div>
    <div class="row d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="row d-flex justify-content-around">
      <button  *ngIf="returnToList; else historyback" class="btn btn-primary" [routerLink]="[ '/public/studycourse/search']">検索へ戻る</button>
      <ng-template #historyback>
          <button class="btn btn-primary" (click)="add(user.shainId)">新教育履歴を登録</button>
      </ng-template>
      
    </div>
  </ng-container>
  </div>