<div>
    総務・管理 ）<br/>
    login: 201805 <br/>
    password: aim123456
</div>

<div>
    ＳＥ ）<br/>
    login: 201806<br/>
    password: aim123456
</div>

<!-- temporary -->

<div class="wrapper" style="padding-top: 10px">
    <div class="row d-flex justify-content-center">
        <div class="form-group col-md-4">
            <div *ngIf="authFailed$" class="alert alert-danger" role="alert">
                    ユーザー名かパスワードが間違っています
            </div>
            <div *ngIf="redirecting$" class="alert alert-success" role="alert">
                    ５秒以内にリダイレクトします
            </div>            
        </div>
    </div>
    <form [formGroup]="loginform">
        <div class="row d-flex justify-content-center">
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">社員番号</label>
                <input type="text" formControlName="username" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="社員番号を入力して下さい">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1">パスワード</label>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
                    placeholder="パスワードを入力して下さい">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="form-group col-md-4 form-check">
                <input type="checkbox" class="form-check-input" style="margin-left: -5px" id="exampleCheck1">
                <label class="form-check-label" style="margin-left: 12px" for="exampleCheck1">Remember me</label>
                <button type="submit" style="float: right" class="btn btn-success" (click)="login()">ログイン</button>
            </div>
        </div>
    </form>
</div>