<div class="container">
  <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
          <h3>{{title}}</h3>
        </div>
  </div>
<form [formGroup]="searchForm">
  <div class="row">
    <div class="col-md-6">
      <span>主催</span>
      <select class="custom-select" formControlName="sponsor">
        <option value=""></option>
        <option *ngFor="let sp of sponsorsList$" value="{{sp}}">{{sp}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <span>教育名</span>
      <select class="custom-select" formControlName="educationName">
        <option value=""></option>
        <option *ngFor="let ed of educationList$" value="{{ed}}">{{ed}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span>期間</span>
      <div class="input-group">
        <div>
            <input type="text"
            placeholder="～から"
            class="form-control"
            [bsConfig]="bsConfig"
            formControlName="stdate"
            bsDatepicker>
        </div>
        <!--<input type="date" class="form-control" formControlName="stdate">-->
        <div class="input-group-prepend">
          <span class="input-group-text">~</span>
        </div>
        <div>
            <input type="text"
            placeholder="～まで"
            class="form-control"
            [bsConfig]="bsConfig"
            formControlName="enddate"
            bsDatepicker>
        </div>
        <!--<input type="date" class="form-control" formControlName="enddate">-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span>費用</span>
      <div class="input-group">
        <input type="text" class="form-control" formControlName="expenses">
        <div class="input-group-prepend">
          <span class="input-group-text">円</span>
        </div>
        <select class="custom-select" formControlName="op">
          <option value="" selected ></option>
          <option value="gt" selected>以上</option>
          <option value="lt">以下</option>
        </select>
      </div>
    </div>
  </div>　
  <div class="row">
      <div class="col-md-3">
        <span>社員番号</span>
        <input type="text" class="form-control" formControlName="id">
      </div>
      <div class="col-md-3">
        <span>氏名</span>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="col-md-3">
        <span>フリガナ</span>
        <input type="text" class="form-control" formControlName="kana">
      </div>
  </div>

  <div class="row d-flex justify-content-around">
    <button class="btn btn-primary" (click)="searchAttempt()">検索</button>
    <button class="btn btn-primary" (click)="reset()">クリアー</button>
  </div>
</form>
</div>