<div class="container">
<ng-container *ngIf="userSelected$ | async; let user">
<div class="row">
  <div class="col-md-4">
      <div class="row" *ngIf="user.shainRetired">
          <div class="alert alert-danger d-flex justify-content-center" role="alert">
              退職
          </div>
      </div>
  </div>
  <div class="col-md-4"><h3>履歴書詳細画面</h3></div>
  <div class="col-md-4">
    <span>登録日：{{user.createdAt | date: 'yyyy年MM月dd日'}}</span><br />
    <span>更新日：{{user.updatedAt | date: 'yyyy年MM月dd日'}}</span>
  </div>
</div>
<div class="row color-violet">

  <div class="col-md-3">
    <span class="font-bold">社員番号: </span><span>{{user.shainId}}</span>
  </div>
  <div class="col-md-3">
    <span class="font-bold">氏名: </span><span>{{user.shainName}}</span>
  </div>
  <div class="col-md-3">
    <span class="font-bold">フリガナ: </span><span>{{user.shainKana}}</span>
  </div>
  <div class="col-md-3">
    <span class="font-bold">採用区分: </span><span>{{user.shainRecruit?.desc}}</span>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <span>記載日</span>
    <input type="text" class="form-control" value="{{user.shainJoinedDate | date:'yyyy-MM-dd'}}"readonly>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <span>生年月日</span>
    <input type="text" class="form-control" value="{{user.shainBirthday | date:'yyyy-MM-dd'}}" readonly>
  </div>
  <div class="col-md-4">
    <span>扶養</span>
    <input type="text" class="form-control" value="{{user.shainSupport | toJapanese }}"readonly>
  </div>
  <div class="col-md-4">
    <span>配偶者</span>
    <input type="text" class="form-control" value="{{user.shainMarried | toJapanese}}" readonly>
  </div>
</div>



<div class="row">
  <div class="col-md-3">
    <span>電話番号(自宅)</span>
    <input type="text" class="form-control" value="{{user.shainHomePhoneNumber}}" readonly>
  </div>
  <div class="col-md-3">
    <span>電話番号(携帯)</span>
    <input type="text" class="form-control" value="{{user.shainMobilePhoneNumber}}" readonly>
  </div>
  <div class="col-md-3">
    <span>メールアドレス</span>
    <input type="text" class="form-control" value="{{user.shainMail}}"readonly>
  </div>
  <div class="col-md-3">
    <span>携帯メールアドレス</span>
    <input type="text" class="form-control" value="{{user.shainMobileMail}}" readonly>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <span>郵便番号</span>
    <input type="text" class="form-control" value="{{user.shainPostalCode}}" readonly>
  </div>
<div class="col-md-9">
    <span>住所</span>
    <input type="text" class="form-control" value="{{user.shainArea?.desc}} {{user.shainAddress}}" readonly>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <span>出身校</span>
    <input type="text" class="form-control" value="{{user.resume?.universityName}} {{user.resume?.formation}}" readonly>
  </div>
  <div class="col-md-4">
    <span>文理</span>
    <input type="text" class="form-control" value="{{user.resume?.bunri}}" readonly>
  </div>
</div>

<div class="row">
  <div class=col-md-2>
    <span class="font-bold">※経歴※</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <th style="width: 10%">年</th>
        <th style="width: 10%">月</th>
        <th>学校/職場</th>
      </thead>
      <tbody>
        <tr *ngFor="let career of user.resume?.careers">
          <td *ngIf="career.active">{{career.career_year}}</td>
          <td *ngIf="career.active">{{career.career_month}}</td>
          <td *ngIf="career.active">{{career.career_scwk}} {{career.career_dpaf}}　<b>{{career.career_result}}</b></td>
        </tr>        
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-" >
    <span class="font-bold">※資格※</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <th style="width: 10%">年</th>
        <th style="width: 10%">月</th>
        <th>資格名</th>
      </thead>
      <tbody>
        <tr *ngFor="let q of user.resume?.qualifications">
          <td *ngIf="q.active">{{q.qualification_year}}</td>
          <td *ngIf="q.active">{{q.qualification_month}}</td>
          <td *ngIf="q.active">{{q.qualification_name}} {{q.qualification_result}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class=col-md-2>
    <span class="font-bold">※表彰※</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <th style="width: 10%">年</th>
        <th style="width: 10%">月</th>
        <th>内容</th>
      </thead>
      <tbody>
        <tr *ngFor="let ca of user.resume?.commendations">
          <td *ngIf="ca.active">{{ca.commendation_year}}</td>
          <td *ngIf="ca.active">{{ca.commendation_month}}</td>
          <td *ngIf="ca.active">{{ca.commendation_name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class=col-md-2>
    <span>※備考※</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" readonly>{{user.resume.notes}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col-md-12 d-flex p-2 justify-content-around">
    <button type="button" class="btn btn-secundary" disabled>PDF表示</button>
    <button type="button" class="btn btn-secundary" disabled>CSV出力</button>
    <button type="button" class="btn btn-primary" (click)="editScreen(user.shainId)">編集</button>  
    <button type="button" class="btn btn-primary" [routerLink]="['/soumu/rirekisho/results']">一覧へ戻る</button>  
  </div>
</div>
</ng-container>
</div>