<h1 mat-dialog-title *ngIf="data.title">{{data.title}}</h1>

<ng-container [formGroup] = "changepassform">
<div mat-dialog-content>
  <p *ngIf="data.message">{{data.message}}</p>
  <span>古いパスワード</span>:
  <input type=password class="form-control" formControlName="oldpassword">
  <span>新しいパスワード</span>
  <input type=password class="form-control" formControlName="newpassword">
  <span>もう一回新しいパスワード</span>
  <input type=password class="form-control" formControlName="newpassword2">
  <br>
  <div class="row d-flex justify-content-around">
  <button type=button class="btn btn-primary" (click)="changePasswordRequest(data.anything)">確認</button>
  <button type=button class="btn btn-primary" (click)="cancel()">キャンセル</button>
</div>

</div>
</ng-container>
