<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <h3>{{title}}</h3>
      </div>
  </div>

    <div class="row">
      <div class="col-md-6">
        <span>主催</span>
        <input type="text" class="form-control" name="sponsor">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span>資格名</span>
        <input type="text" class="form-control" name="qname">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span>受験日</span>
        <div>
          <input type="text" 
          placeholder="年/月/日"
          class="form-control"
          [bsConfig]="bsConfig"
          value=""
          bsDatepicker>
        </div>
      </div>
      <div class="col-md-3">
          <span>受験結果</span>
          <select class="custom-select">
            <option>合格</option>
          </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span>費用</span>
        <div class="input-group">
          <input type="text" class="form-control" name="expenses">
          <div class="input-group-prepend">
            <span class="input-group-text">円</span>
          </div>
          <select class="custom-select" name="op">
            <option value="" selected></option>
            <option value="gt" selected>以上</option>
            <option value="lt">以下</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <span>社員番号</span>
          <input type="text" class="form-control" name="id">
        </div>
        <div class="col-md-3">
          <span>氏名</span>
          <input type="text" class="form-control" name="name">
        </div>
        <div class="col-md-3">
          <span>フリガナ</span>
          <input type="text" class="form-control" name="kana">
        </div>
    </div>
    <div class="row d-flex justify-content-end">
        <div class="col-md-2 d-flex align-items-end justify-content-end border border-dark">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" (change)="includeRetiredShains($event)" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">退職者を含む</label>
            </div>
        </div>
    </div>


  <div class="row d-flex justify-content-around">
    <button class="btn btn-primary" (click)="doSearch()">検索</button>
    <button class="btn btn-primary">クリア</button>
  </div>