<div class="container-fluid">
<div class="row">
  <div class="col-md-6">
    <h3>職務経歴書一覧画面</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
        <th>社員番号</th>
        <th>氏名</th>
        <th>採用区分</th>
        <th>経験月数</th>
        <th>OS/DBMS</th>
        <th>LANG/TOOLS</th>
        <th> </th>
      </thead>      
      <ng-container *ngFor="let user of selectedUsers$ | async; let i = index">
      <tbody>
        <tr>
          <td>{{user.shainId}}</td>
          <td>{{user.shainName}}<br/>({{user.shainKana}})</td>
          <td>{{user.shainRecruit}}</td>
          <td><span>{{ sumOf(user.curriculum) }}</span></td>
          <td>{{getOsandDb(user.curriculum)}}</td>
          <td>{{getToolsandLang(user.curriculum)}}</td>
          <td><button class="btn btn-primary" (click)="showRirekisho(user.shainId)">詳細</button></td>        
        </tr>
      </tbody>
    </ng-container>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-primary" [routerLink]="['/admin/shokumurirekisho/search']" routerLinkActive="router-link-active">検索画面へ戻る</button>
  </div>
</div>
</div>