<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h3>社員検索画面</h3>
        </div>
    </div>
<form [formGroup]="searchForm">
<div class="row">
  <div class="col-md-4">
    <span>社員番号</span>
    <input type="text" class="form-control" formControlName="id">
  </div>
  <div class="col-md-4">
    <span>社員氏名</span>
    <input type="text" class="form-control"  formControlName="name">
  </div>
  <div class="col-md-4">
    <span>社員カナ</span>
    <input type="text" class="form-control"  formControlName="kana">
  </div>
</div>

<div class="row">
  <ng-container *ngIf="params$ | async; let data">
  <div class="col-md-8">
      <span>所属</span>
      <ng-select
      [items]="data.AFFILIATION"
      [multiple]="true"
      [closeOnSelect]="true"
      [hideSelected]="true"
      bindLabel="desc"
      bindValue="id"
      placeholder="..."
      formControlName="affiliation">
      </ng-select>
  </div>
  </ng-container>
</div>
</form>
<br/>
<button class="btn btn-outline-primary" (click)="testSearch()">検索する</button>
</div>

