<header>
<mat-toolbar color="warn" class="header-box-shadow">
    <button mat-button (click)="home()">
    <mat-icon class="ml-1">home</mat-icon> ホームページ   
    </button>    
    <span class="example-fill-remaining-space"></span>
    <span fxShow.lt-md="false" fxShow.gt-sm="true">

            
        <button mat-button [matMenuTriggerFor]="curriculum">
            <mat-icon class="ml-1">work</mat-icon>
            職務経歴書
            <mat-icon class="ml-1">arrow_drop_down</mat-icon>
        </button>

        <mat-menu #curriculum="matMenu" overlapTrigger="false">
                <a routerLink="/admin/curriculum/search" routerLinkActive="active">
                    <button mat-menu-item>
                    <mat-icon>search</mat-icon>
                    <span>検索</span>
                    </button>
                </a>
                <a routerLink="/admin/curriculum/list" routerLinkActive="active">
                <button mat-menu-item>
                    <mat-icon>format_list_bulleted</mat-icon>
                    <span>リスト</span>
                </button>
                </a>
                <a routerLink="/admin/curriculum/add" routerLinkActive="active">
                    <button mat-menu-item>
                        <mat-icon>format_list_bulleted</mat-icon>
                        <span>登録</span>
                    </button>
                    </a>
        </mat-menu>
        
        <button mat-button [matMenuTriggerFor]="resume">
            <mat-icon class="ml-1">assignment_ind</mat-icon>
            履歴書
            <mat-icon class="ml-1">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #resume="matMenu" overlapTrigger="false">
        <a routerLink="/admin/resume/search" routerLinkActive="active">
        <button mat-menu-item>
                <mat-icon>search</mat-icon>
                <span>検索</span>
            </button>
        </a>
        <a routerLink="/admin/resume/list" routerLinkActive="active">
            <button mat-menu-item>
                <mat-icon>format_list_bulleted</mat-icon>
                <span>リスト</span>
            </button>
        </a>
        </mat-menu> 

        <button mat-button [matMenuTriggerFor]="dropDown">
                <mat-icon class="ml-1">verified_user</mat-icon>
            管理者メニュー
            <mat-icon class="ml-1">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #dropDown="matMenu" overlapTrigger="false">
        <a routerLink="/admin/employee-master" routerLinkActive="active">
            <button mat-menu-item>
                <mat-icon>people</mat-icon>
                <span>社員マスタ</span>
            </button>
        </a>
        </mat-menu>
    </span>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu" fxShow.lt-md="false" fxShow.gt-sm="true">
        <mat-icon>face</mat-icon>
        <span class="ml-2">{{loggedUser}}</span>
        <mat-icon class="ml-1">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu" overlapTrigger="false">
    <a routerLink="/home/profile" routerLinkActive="active">
        <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>プロファイルを見る</span>
        </button>
    </a>
    <a routerLink="/home/profile" routerLinkActive="active">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>プロファイル設定する</span>
        </button>
    </a>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>ログアウト</span>
        </button>
    </mat-menu>
</mat-toolbar>
</header>