<header>
    <mat-toolbar color="warn" class="header-box-shadow">
        <a routerLink="/profile" routerLinkActive="active">
            <button mat-button>
                <mat-icon class="ml-1">home</mat-icon> ホームページ
            </button>
        </a>
        <!-- fill-remaining-space pusha os botoes pra direita-->
        <span class="example-fill-remaining-space"></span>
        <ng-container *ngIf="menuStyle === 'ADMIN' || menuStyle === 'SOUMU'; then admin"></ng-container>
        <ng-container *ngIf="menuStyle === 'USER'; then normaluser"></ng-container>
        <ng-container *ngIf="menuStyle === 'MANAGER'; then managers"></ng-container>
        <ng-container *ngIf="menuStyle === ''; then err"></ng-container>

        <ng-template #admin>
            <app-admin-header></app-admin-header>
        </ng-template>
        <!-- OK !-->
        <ng-template #normaluser>
            <div>
                <span fxShow.lt-md="false" fxShow.gt-sm="true">
                    <a routerLink="/profile/shokumurireki" routerLinkActive="active">
                        <button mat-button fxShow.lt-md="false" fxShow.gt-sm="true">
                            <mat-icon class="ml-1">work</mat-icon>
                            職務経歴書
                        </button>
                    </a>

                    <a routerLink="/profile/skillmap" routerLinkActive="active">
                        <button mat-button fxShow.lt-md="false" fxShow.gt-sm="true">
                            <mat-icon class="ml-1">device_hub</mat-icon>
                            スキルマップ
                        </button>
                    </a>

                    <a routerLink="/profile/studycourses" routerLinkActive="active">
                        <button mat-button fxShow.lt-md="false" fxShow.gt-sm="true">
                            <mat-icon class="ml-1">school</mat-icon>
                            教育受講履歴

                        </button>
                    </a>

                    <a routerLink="/profile/qualifications" routerLinkActive="active">
                        <button mat-button fxShow.lt-md="false" fxShow.gt-sm="true">
                            <mat-icon class="ml-1">assignment</mat-icon>
                            資格
                        </button>
                    </a>

                    <ng-container *ngIf="loggedUser$ | async; let user" class="d-flex">
                            <button mat-button [matMenuTriggerFor]="accountmenu">
                              <mat-icon>face</mat-icon>
                              <span>{{user.shainName}}</span>
                              <mat-icon class="ml-1">arrow_drop_down</mat-icon>
                            </button>
                    </ng-container>
                    <mat-menu #accountmenu="matMenu" overlapTrigger="false">
                            <a routerLink="/profile" routerLinkActive="active">
                              <button mat-menu-item>
                                <span>プロファイルを見る</span>
                              </button>
                            </a>
                            <button mat-menu-item (click)="logout()">
                              <span>ログアウト</span>
                            </button>
                    </mat-menu>

                </span>
            </div>
        </ng-template>

        <ng-template #managers>
            <div>
            </div>
        </ng-template>

        <ng-template #err>
            <div>
                something bad happened, please log out and log in again or call an administrator
            </div>
        </ng-template>
    </mat-toolbar>
</header>