/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP');
@import './assets/css/boxes.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";



.table {
  font-style: normal;
  border: 1px black;
}
th {
  font-weight: 600;
}
td {
  font-style: normal !important; 
  font-weight: 400;
}

thead {
  background-color:lightseagreen;
}

.no-ime{
  ime-mode: disabled;
}
.ime {
  ime-mode: active;
}

.retired-bg{
  background-color: rgba(255, 206, 206, 0.979);
}
/*
.vertical-text{
  writing-mode: vertical-rl;
  -ms-writing-mode: bt-lr;
  text-orientation: upright;
  word-wrap: break-word;
  white-space: nowrap;
}
*/

.fill-remaining-space{flex: 1 1 auto;}
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after{
    background-color: red;
    border-radius: 50%;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-color: red;
    border-radius: 25%;
}

option{
  font-size: 15px !important;
}

.row{
    margin-top: 10px !important;
}

body, footer, header, main {
  /*font-family: 'Noto Sans JP', sans-serif !important;*/
  font-size: 15px !important;
}

html, body {
  height: 100%;
}


main {
  /* flex: 1; would be enough but IE has different defaults (surprise!) */
  flex: 1 1 auto;
  background-color: #e6ffe6;
}

.app{
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pezin{
  display: flex;
  align-content: center;
  justify-content: flex-end;
  background-color: #e6ffe6;
}

h3 {
  color: blue;
}

.bs-datepicker-body thead {
  background-color: white;
}












  
 