<div class="container">
<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
            <h3>社員検索結果一覧画面</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <th>No.</th>
                <th>社員番号</th>
                <th>社員氏名</th>
                <th>所属</th>
                <th>退職</th>
                <th> </th>
            </thead>
            <tbody>
                <tr [ngClass]="{'retired-bg': employees.shainRetired }" *ngFor="let employees of employees$ | async | paginate: { itemsPerPage: ipp, currentPage: p }; let i = index">
                    <td>{{ipp * (p - 1) + i + 1}}</td>
                    <td>{{employees.shainId}}</td>
                    <td>{{employees.shainName}}<br/>{{employees.shainKana}}</td>                    
                    <td><span *ngFor="let affs of employees.affiliation">{{affs.desc}}<br/></span></td>
                    <ng-container *ngIf="employees.shainRetired; else notRetired">
                    <td style="color: red">退職</td>
                    </ng-container>
                    <ng-template #notRetired>
                    <td> </td>
                    </ng-template>
                    <td>
                        <button class="btn btn-primary" (click)="editShain(employees.shainId)">編集</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row d-flex justify-content-center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
    </div>
</div>
</div>