<div class="container">
<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
            <h3>社員検索結果一覧画面</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <th>社員番号</th>
                <th>社員氏名</th>
                <th>所属</th>
                <th> </th>
            </thead>
            <tbody>
                <tr *ngFor="let employees of employees$ | async; let i = index">
                    <td>{{employees.shainId}}</td>
                    <td>{{employees.shainName}}<br/>{{employees.shainKana}}</td>                    
                    <td> <span *ngFor="let affs of employees.affiliation">{{affs.desc}}<br/></span></td>
                    <td>
                        <button class="btn btn-primary" (click)="editShain(employees.shainId)">編集</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>