<div class="row border border-danger">
  <table class="table-responsive table-bordered table-hover">
    <ng-container *ngIf="columnCount$ | async; let cc">
      <tr>
        <th [colSpan]="1" scope="colgroup"></th>
        <th style="border-right: 1px solid black;" [colSpan]="1" scope="colgroup"></th>
        <th style="border: 1px solid black;" [colSpan]="cc.LANG.length" scope="colgroup">言語</th>
        <th style="border: 1px solid black;" [colSpan]="cc.DBMS.length" scope="colgroup">DBMS</th>
        <th style="border: 1px solid black;" [colSpan]="cc.MAKER.length" scope="colgroup">開発機種／メーカー</th>
        <th style="border: 1px solid black;" [colSpan]="cc.OS.length" scope="colgroup">OS</th>
        <th style="border: 1px solid black;" [colSpan]="cc.TOOLS.length" scope="colgroup">ツール</th>
        <th style="border: 1px solid black;" [colSpan]="cc.DUTY.length" scope="colgroup">担当作業</th>
      </tr>
      <tr>
        <th>
          <div style="width: 150px">所属</div>
        </th>
        <th><div style="width: 150px">名前</div></th>
        <ng-container *ngFor="let lang of cc.LANG">
          <th>
            <div class="vertical-text">{{lang.desc}}</div>
          </th>
        </ng-container>
        <ng-container *ngFor="let dbms of cc.DBMS">
          <th>
            <div class="vertical-text">{{dbms.desc}}</div>
          </th>
        </ng-container>

        <ng-container *ngFor="let maker of cc.MAKER">
          <th>
            <div class="vertical-text">{{maker.desc}}</div>
          </th>
        </ng-container>

        <ng-container *ngFor="let os of cc.OS">
          <td>
            <div class="vertical-text">{{os.desc}}</div>
          </td>
        </ng-container>

        <ng-container *ngFor="let tools of cc.TOOLS">
          <th>
            <div class="vertical-text">{{tools.desc}}</div>
          </th>
        </ng-container>

        <ng-container *ngFor="let duty of cc.DUTY">
          <th>
            <div class="vertical-text">{{duty.desc}}</div>
          </th>
        </ng-container>
      </tr>
    </ng-container>
    <tr *ngFor="let users of selectedUsers$ | async">
     <td>{{users.affiliation?.desc}}</td>
     <td>{{users.shainName}}</td>
    </tr>
  </table>
</div>