<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>{{title}}</h3>
    </div>
  </div>
<form [formGroup]="studyForm">
  <ng-container *ngIf="selectedUser$ | async; let user">
  <div class="row border border-dark">
    <div class="col-md-3">
      <span style="font-weight: 600">社員番号:</span><span> {{user.shainId}}</span>
    </div>
    <div class="col-md-3">
      <span style="font-weight: 600">社員氏名:</span><span> {{user.shainName}}</span>
    </div>
    <div class="col-md-3">
      <span style="font-weight: 600">社員カナ: </span><span>{{user.shainKana}}</span>
    </div>
    <div class="col-md-3">
      <span style="font-weight: 600">採用区分: </span><span>{{user.shainRecruit?.desc}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <span>主催</span>
      <input type="text" class="form-control" formControlName="sponsor">
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <span>教育名</span>
      <input type="text" class="form-control" formControlName="educationName">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span><span>期間</span></span>
      <div class="input-group">
              <input type="text"
              placeholder="開始日"
              class="form-control"
              [bsConfig]="bsConfig"
              formControlName="startPeriod"
              bsDatepicker>
        <div class="input-group-prepend">
          <span class="input-group-text">~</span>
        </div>
        <input type="text"
        placeholder="終了日"
        class="form-control"
        [bsConfig]="bsConfig"
        formControlName="endPeriod"
        bsDatepicker>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-9">
        <span>開催場所</span>
        <input type="text" class="form-control" formControlName="venue">
      </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <span>受講料</span>
        <input type="text" class="form-control" formControlName="tuitionFee" [ngClass]="{ 'is-invalid': submitted && f.tuitionFee.errors }">
    </div>
    <div class="col-md-3">
        <span>交通費</span>
        <input type="text" class="form-control" formControlName="transportExpenses" [ngClass]="{ 'is-invalid': submitted && f.transportExpenses.errors }">
    </div>
    <div class="col-md-3">
        <span>滞在費</span>
        <input type="text" class="form-control" formControlName="hotelExpenses" [ngClass]="{ 'is-invalid': submitted && f.hotelExpenses.errors }">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span>概要</span>
      <textarea class="form-control" formControlName="overview"></textarea>
    </div>
  </div>

  <div class="row d-flex justify-content-around">
    <button class="btn btn-primary" disabled>実施記録取込</button>
    <button class="btn btn-primary" (click)="insertAttempt()">{{buttonText}}</button>
    <button class="btn btn-primary" disabled>削除</button>
    <button class="btn btn-primary" onclick="history.back(-1)">戻る</button>
  </div>
</ng-container>
</form>
</div>