<div>
    <span fxShow.lt-md="false" fxShow.gt-sm="true">

      <button *ngIf="displayRirekisho" mat-button [matMenuTriggerFor]="employee">
        社員マスタ
        <mat-icon class="ml-1">arrow_drop_down</mat-icon>
      </button>
  
      <button *ngIf="displayRirekisho" mat-button [matMenuTriggerFor]="resume">
        履歴書
        <mat-icon class="ml-1">arrow_drop_down</mat-icon>
      </button>
  
      <button mat-button [matMenuTriggerFor]="curriculum">      
        職務経歴書
        <mat-icon class="ml-1">arrow_drop_down</mat-icon>
      </button>
  
      <button mat-button [matMenuTriggerFor]="qualifications">
        資格検索
        <mat-icon class="ml-1">arrow_drop_down</mat-icon>
      </button>
  
      <button mat-button [matMenuTriggerFor]="educational">
        
        教育受講履歴
        <mat-icon class="ml-1">arrow_drop_down</mat-icon>
      </button>
  
      <!-- <button mat-button [matMenuTriggerFor]="skillmap">      
        スキルマップ
        <mat-icon class="ml-1">arrow_drop_down</mat-icon>
      </button> -->
  
      <button mat-button [matMenuTriggerFor]="adminmenu">
        
        管理メニュー
        <mat-icon class="ml-1">arrow_drop_down</mat-icon>
      </button>
  
      <ng-container *ngIf="loggedUser$ | async; let user" class="d-flex">
        <button mat-button [matMenuTriggerFor]="accountmenu">
          <mat-icon>face</mat-icon>
          <span>{{user.fullName}}</span>
          <mat-icon class="ml-1">arrow_drop_down</mat-icon>
        </button>
      </ng-container>
    </span>
  
    <mat-menu #resume="matMenu" overlapTrigger="false">
      <a routerLink="/soumu/rirekisho/search" routerLinkActive="active">
        <button mat-menu-item>
          <span>検索</span>
        </button>
      </a>
    </mat-menu>

    <mat-menu #employee="matMenu" overlapTrigger="false">
        <a routerLink="/admin/employee-master" routerLinkActive="active">
          <button mat-menu-item>
            <span>社員登録画面</span>
          </button>
        </a>
    
        <a routerLink="/admin/employee-search" routerLinkActive="active">
          <button mat-menu-item>
            <span>社員検索画面</span>
          </button>
        </a>
    </mat-menu>

    
  
    <mat-menu #curriculum="matMenu" overlapTrigger="false">
      <a routerLink="/public/shokumurirekisho/search" routerLinkActive="active">
        <button mat-menu-item>
          <span>検索</span>
        </button>
      </a>   
    </mat-menu>
    
    <mat-menu #qualifications="matMenu" overlapTrigger="false">
      <a routerLink="/public/qualifications/search" routerLinkActive="active">
        <button mat-menu-item>
          <span>検索</span>
        </button>
      </a>
    </mat-menu>
  
    <mat-menu #educational="matMenu" overlapTrigger="false">
      <a routerLink="/public/studycourse/search" routerLinkActive="active">
        <button mat-menu-item>
          <span>検索</span>
        </button>
      </a>
      <!--
      <a routerLink="/admin/studycourse" routerLinkActive="active">
        <button mat-menu-item>
          <span>lista</span>
        </button>
      </a>
      <a routerLink="/admin/studycourse/edit" routerLinkActive="active">
        <button mat-menu-item>
          <span>editar</span>
        </button>
      </a>
      -->
    </mat-menu>
    
      <mat-menu #skillmap="matMenu" overlapTrigger="false">
      <a routerLink="404" routerLinkActive="active">
        <button mat-menu-item disabled>
          <span>検索</span>
        </button>
      </a>
    </mat-menu>
    
  
    <mat-menu #adminmenu="matMenu" overlapTrigger="false">
      <a routerLink="/admin/systemsettings" routerLinkActive="active">
        <button mat-menu-item *ngIf="displayAdminMasterMenu">
          <span>アカウント管理画面</span>
        </button>
      </a>
  
      <a routerLink="404" routerLinkActive="active">
        <button mat-menu-item>
          <span>履歴管理画面</span>
        </button>
      </a>    
      <button mat-menu-item [matMenuTriggerFor]="superadmin">
        <span>マスタ管理メニュー</span>
      </button>    
    </mat-menu>
  
    <mat-menu #accountmenu="matMenu" overlapTrigger="false">
      <a routerLink="/public/profile" routerLinkActive="active">
        <button mat-menu-item>
          <span>プロフィールを見る</span>
        </button>
      </a>
      <button mat-menu-item (click)="doLogout()">
        <span>ログアウト</span>
      </button>
    </mat-menu>
  
    <mat-menu #superadmin="matMenu" overlapTrigger="false">
  
      <a routerLink="/404" routerLinkActive="active">
        <button mat-menu-item>
          <span>資格マスタ画面</span>
        </button>
      </a>
  
      <a routerLink="/404" routerLinkActive="active">
        <button mat-menu-item>
          <span>研修マスタ画面</span>
        </button>
      </a>
    </mat-menu>
  </div>